In [1]:
pwd

'D:\\python3'

In [2]:
ls

 Volume in drive D is RECOVERY
 Volume Serial Number is B8C5-8737

 Directory of D:\python3

21-Dec-18  06:23 PM    <DIR>          .
21-Dec-18  06:23 PM    <DIR>          ..
21-Dec-18  04:04 PM    <DIR>          .ipynb_checkpoints
29-Nov-18  09:29 PM    <DIR>          __pycache__
21-Dec-18  03:55 PM            13,302 1T_14122018D224E36A0DCB49F98D7DD0672025E8D9.XLSX
20-Apr-18  06:58 PM            19,208 api-ms-win-core-console-l1-1-0.dll
20-Apr-18  06:58 PM            18,696 api-ms-win-core-datetime-l1-1-0.dll
20-Apr-18  06:58 PM            18,696 api-ms-win-core-debug-l1-1-0.dll
20-Apr-18  06:58 PM            18,696 api-ms-win-core-errorhandling-l1-1-0.dll
20-Apr-18  06:59 PM            22,280 api-ms-win-core-file-l1-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-file-l1-2-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-file-l2-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-handle-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-heap-l1-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-interlocked-l1-1-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-core-libraryloader-l1-1-0.dll
20-Apr-18  07:07 PM            21,256 api-ms-win-core-localization-l1-2-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-memory-l1-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-namedpipe-l1-1-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-core-processenvironment-l1-1-0.dll
20-Apr-18  07:07 PM            20,744 api-ms-win-core-processthreads-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-processthreads-l1-1-1.dll
20-Apr-18  07:07 PM            18,184 api-ms-win-core-profile-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-rtlsupport-l1-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-string-l1-1-0.dll
20-Apr-18  07:07 PM            20,744 api-ms-win-core-synch-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-synch-l1-2-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-core-sysinfo-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-core-timezone-l1-1-0.dll
20-Apr-18  07:07 PM            18,696 api-ms-win-core-util-l1-1-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-crt-conio-l1-1-0.dll
20-Apr-18  07:07 PM            22,792 api-ms-win-crt-convert-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-crt-environment-l1-1-0.dll
20-Apr-18  07:07 PM            20,744 api-ms-win-crt-filesystem-l1-1-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-crt-heap-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-crt-locale-l1-1-0.dll
20-Apr-18  07:07 PM            27,912 api-ms-win-crt-math-l1-1-0.dll
20-Apr-18  07:07 PM            26,888 api-ms-win-crt-multibyte-l1-1-0.dll
20-Apr-18  07:07 PM            71,432 api-ms-win-crt-private-l1-1-0.dll
20-Apr-18  07:07 PM            19,720 api-ms-win-crt-process-l1-1-0.dll
20-Apr-18  07:07 PM            23,304 api-ms-win-crt-runtime-l1-1-0.dll
20-Apr-18  07:07 PM            24,840 api-ms-win-crt-stdio-l1-1-0.dll
20-Apr-18  07:07 PM            24,840 api-ms-win-crt-string-l1-1-0.dll
20-Apr-18  07:07 PM            21,256 api-ms-win-crt-time-l1-1-0.dll
20-Apr-18  07:07 PM            19,208 api-ms-win-crt-utility-l1-1-0.dll
26-Nov-18  09:37 PM               598 app.py
26-Nov-18  09:38 PM               149 appli123.py
25-Nov-18  05:40 PM           245,948 applied ML.ipynb
30-Nov-18  10:11 PM    <DIR>          bucket_api_heroku
18-Dec-18  07:10 PM    <DIR>          building_NN
27-Nov-18  08:09 PM             1,478 chatbot.txt
06-Dec-18  04:05 PM            42,442 chatbot_from_scratch_11_27_2018.ipynb
26-Nov-18  09:25 PM            45,884 chatbot2018.ipynb
03-Dec-18  08:19 PM             4,163 chatbot2018.txt
03-Dec-18  08:12 PM             4,163 chatbottext.txt
29-Nov-18  10:09 PM             5,009 coding_questions_answers_11_29_2018.ipynb
21-Sep-18  01:53 AM           329,368 concrt140.dll
18-Dec-18  08:36 PM    <DIR>          conda-meta
25-Nov-18  12:16 PM            94,746 credit_risk_analysis_AVDay2session1.ipynb
25-Nov-18  11:08 AM               334 creditRisk.csv
29-Aug-18  12:31 AM             1,093 cwp.py
28-Nov-18  05:42 PM    <DIR>          Data
26-Nov-18  09:39 PM           286,720 db.sqlite3
25-Nov-18  10:43 AM    <DIR>          DLLs
18-Dec-18  09:35 PM    <DIR>          envs
25-Nov-18  10:44 AM    <DIR>          etc
19-Dec-18  10:40 AM    <DIR>          FaceRec
26-Nov-18  07:50 PM    <DIR>          flask-chatterbot-master (1)
28-Nov-18  07:51 PM    <DIR>          heroku
28-Nov-18  06:54 PM    <DIR>          heroku-buildpack-python-master
25-Nov-18  12:58 PM           210,352 historical_loan.csv
25-Nov-18  10:43 AM    <DIR>          include
25-Nov-18  10:43 AM    <DIR>          Lib
18-Dec-18  08:36 PM    <DIR>          Library
25-Nov-18  10:43 AM    <DIR>          libs
27-Jun-18  09:37 AM            12,763 LICENSE_PYTHON.txt
25-Nov-18  10:43 AM    <DIR>          man
18-Dec-18  08:26 PM    <DIR>          Menu
21-Sep-18  01:53 AM           625,808 msvcp140.dll
21-Sep-18  01:53 AM            31,896 msvcp140_1.dll
21-Sep-18  01:53 AM           195,248 msvcp140_2.dll
14-Aug-18  08:12 PM           506,880 openssl.exe
18-Dec-18  09:14 PM    <DIR>          pkgs
21-Dec-18  12:15 PM            89,829 practice21dec2018.ipynb
28-Jun-18  07:36 PM            93,696 python.exe
28-Jun-18  07:36 PM           430,080 python.pdb
13-Dec-18  06:56 PM             1,080 Python__init__method_and_self.ipynb
26-Nov-18  09:20 PM             9,727 python2vspython3.ipynb
28-Jun-18  07:36 PM            51,712 python3.dll
28-Jun-18  07:35 PM         3,843,072 python37.dll
28-Jun-18  07:35 PM         9,916,416 python37.pdb
28-Jun-18  07:36 PM            92,160 pythonw.exe
28-Jun-18  07:36 PM           430,080 pythonw.pdb
25-Nov-18  10:43 AM               199 qt.conf
03-Dec-18  09:31 AM             2,243 qualcom questionaire.txt
21-Dec-18  06:14 PM            23,341 RBI_bulletin_analysis.ipynb
21-Dec-18  06:05 PM           322,320 rbi_data_analysis.ipynb
13-Dec-18  08:17 PM               906 regular_expression.ipynb
26-Nov-18  09:38 PM               140 requirements.txt
18-Dec-18  09:04 PM    <DIR>          Scripts
25-Nov-18  10:43 AM    <DIR>          share
25-Nov-18  10:43 AM    <DIR>          sip
25-Nov-18  10:43 AM    <DIR>          tcl
25-Nov-18  10:43 AM    <DIR>          Tools
20-Apr-18  07:07 PM         1,016,584 ucrtbase.dll
25-Nov-18  10:44 AM           302,868 Uninstall-Anaconda3.exe
25-Nov-18  11:09 AM               555 Untitled.ipynb
26-Nov-18  09:35 PM               733 Untitled1.ipynb
26-Nov-18  09:38 PM               555 Untitled2.ipynb
28-Nov-18  06:25 PM               555 Untitled3.ipynb
28-Nov-18  06:57 PM               606 Untitled4.ipynb
17-Dec-18  07:14 PM             1,564 Untitled5.ipynb
17-Dec-18  08:01 PM             1,329 Untitled6.ipynb
19-Dec-18  08:33 PM             8,626 Untitled7.ipynb
20-Dec-18  08:25 PM             2,351 Untitled8.ipynb
21-Dec-18  06:23 PM                72 Untitled9.ipynb
21-Sep-18  01:53 AM           386,720 vccorlib140.dll
21-Sep-18  01:53 AM           155,280 vcomp140.dll
21-Sep-18  01:53 AM            87,200 vcruntime140.dll
08-Nov-18  05:52 PM             8,248 vscode_eula.txt
29-Nov-18  09:29 PM                72 welcome.py
14-May-18  03:53 AM           293,888 xlwings32-0.11.8.dll
14-May-18  03:53 AM           367,104 xlwings64-0.11.8.dll
              96 File(s)     21,464,831 bytes
              27 Dir(s)     763,432,960 bytes free

In [3]:
import pandas as pd
import io
import requests
import urllib

In [4]:
df = pd.read_excel('6T_1412201814A120B6C7D6480C9043C96D01B16754.xlsx', skiprows=3)

In [5]:
df

,Unnamed: 0,Item,Outstanding as on,Unnamed: 3,Variation over,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,2018,NaN,Fortnight,NaN,Financial Year so far,NaN,NaN,NaN,Year–on–Year,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2017-18,NaN,2018-19,NaN,2017,NaN,2018,NaN
2,NaN,NaN,Mar. 31,Nov. 23,Amount,%,Amount,%,Amount,%,Amount,%,Amount,%
3,NaN,NaN,1,2,3,4,5,6,7,8,9,10,11,12
4,NaN,M3,139626,145188,–259.7,–0.2,3553.7,2.8,5562,4,10159.2,8.4,13714.8,10.4
5,NaN,1 Components (1.1.+1.2+1.3+1.4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1.1 Currency with the Public,17597.1,19244.4,–143.8,–0.7,3174.3,25.1,1647.3,9.4,6853,76.5,3428.9,21.7
7,NaN,1.2 Demand Deposits with Banks,14837.1,13384.2,84.2,0.6,"–1,701.4",–12.2,"–1,453.0",–9.8,348.1,2.9,1118.2,9.1
8,NaN,1.3 Time Deposits with Banks,106953,112302,–210.3,–0.2,2062.5,2,5349.1,5,2879.7,2.9,9139.3,8.9
9,NaN,1.4 ‘Other’ Deposits with Reserve Bank,239.1,257.6,10.3,4.2,18.3,8.7,18.6,7.8,78.4,52,28.4,12.4
10,NaN,2 Sources (2.1+2.2+2.3+2.4–2.5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2.1 Net Bank Credit to Government,40014,43445.9,–350.2,–0.8,1473.7,3.8,3431.9,8.6,–336.6,–0.8,3406.2,8.5
12,NaN,2.1.1 Reserve Bank,4759.6,7127.2,–184.7,NaN,"–1,734.0",NaN,2367.6,NaN,"–1,618.5",NaN,2653.1,NaN
13,NaN,2.1.2 Other Banks,35254.4,36318.7,–165.5,–0.5,3207.6,9.9,1064.4,3,1281.9,3.7,753.1,2.1
14,NaN,2.2 Bank Credit to Commercial Sector,92137.2,97239.5,210.2,0.2,1009.8,1.2,5102.3,5.5,7047.9,9,12114.8,14.2
15,NaN,2.2.1 Reserve Bank,140.3,93.2,–,NaN,7.7,NaN,–47.1,NaN,28.9,NaN,12.6,NaN
16,NaN,2.2.2 Other Banks,91996.9,97146.3,210.3,0.2,1002.1,1.2,5149.4,5.6,7019,9,12102.2,14.2
17,NaN,2.3 Net Foreign Exchange Assets of Banking Sector,29223,29212.2,-597.1,–2.0,1624.3,6.3,–10.8,–0.0,370.8,1.4,2005.6,7.4
18,NaN,2.4 Government's Currency Liabilities to the P...,256.5,257,–,–,4.8,1.9,0.5,0.2,13.9,5.7,1.3,0.5
19,NaN,2.5 Banking Sector's Net Non–Monetary Liabilities,22004.8,24966.7,–477.4,–1.9,558.8,2.7,2961.9,13.5,"–3,063.2",–12.6,3813.1,18
20,NaN,2.5.1 Net Non–Monetary Liabilities of RBI,9069.9,10899.7,–565.3,–4.9,519.9,6.2,1829.8,20.2,–789.6,–8.2,2046.3,23.1

In [6]:
df.drop(['Unnamed: 0'], axis=1)

,Item,Outstanding as on,Unnamed: 3,Variation over,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,2018,NaN,Fortnight,NaN,Financial Year so far,NaN,NaN,NaN,Year–on–Year,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,2017-18,NaN,2018-19,NaN,2017,NaN,2018,NaN
2,NaN,Mar. 31,Nov. 23,Amount,%,Amount,%,Amount,%,Amount,%,Amount,%
3,NaN,1,2,3,4,5,6,7,8,9,10,11,12
4,M3,139626,145188,–259.7,–0.2,3553.7,2.8,5562,4,10159.2,8.4,13714.8,10.4
5,1 Components (1.1.+1.2+1.3+1.4),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.1 Currency with the Public,17597.1,19244.4,–143.8,–0.7,3174.3,25.1,1647.3,9.4,6853,76.5,3428.9,21.7
7,1.2 Demand Deposits with Banks,14837.1,13384.2,84.2,0.6,"–1,701.4",–12.2,"–1,453.0",–9.8,348.1,2.9,1118.2,9.1
8,1.3 Time Deposits with Banks,106953,112302,–210.3,–0.2,2062.5,2,5349.1,5,2879.7,2.9,9139.3,8.9
9,1.4 ‘Other’ Deposits with Reserve Bank,239.1,257.6,10.3,4.2,18.3,8.7,18.6,7.8,78.4,52,28.4,12.4
10,2 Sources (2.1+2.2+2.3+2.4–2.5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2.1 Net Bank Credit to Government,40014,43445.9,–350.2,–0.8,1473.7,3.8,3431.9,8.6,–336.6,–0.8,3406.2,8.5
12,2.1.1 Reserve Bank,4759.6,7127.2,–184.7,NaN,"–1,734.0",NaN,2367.6,NaN,"–1,618.5",NaN,2653.1,NaN
13,2.1.2 Other Banks,35254.4,36318.7,–165.5,–0.5,3207.6,9.9,1064.4,3,1281.9,3.7,753.1,2.1
14,2.2 Bank Credit to Commercial Sector,92137.2,97239.5,210.2,0.2,1009.8,1.2,5102.3,5.5,7047.9,9,12114.8,14.2
15,2.2.1 Reserve Bank,140.3,93.2,–,NaN,7.7,NaN,–47.1,NaN,28.9,NaN,12.6,NaN
16,2.2.2 Other Banks,91996.9,97146.3,210.3,0.2,1002.1,1.2,5149.4,5.6,7019,9,12102.2,14.2
17,2.3 Net Foreign Exchange Assets of Banking Sector,29223,29212.2,-597.1,–2.0,1624.3,6.3,–10.8,–0.0,370.8,1.4,2005.6,7.4
18,2.4 Government's Currency Liabilities to the P...,256.5,257,–,–,4.8,1.9,0.5,0.2,13.9,5.7,1.3,0.5
19,2.5 Banking Sector's Net Non–Monetary Liabilities,22004.8,24966.7,–477.4,–1.9,558.8,2.7,2961.9,13.5,"–3,063.2",–12.6,3813.1,18
20,2.5.1 Net Non–Monetary Liabilities of RBI,9069.9,10899.7,–565.3,–4.9,519.9,6.2,1829.8,20.2,–789.6,–8.2,2046.3,23.1